.nav{
    background-color: rgba(0, 0, 0, 0.119);
    height: 3.2rem;
    padding: 2rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.kotak{
    border-radius: 10px;
    margin: 12px;
    font-size: 16px;
    transition: width 0.5s;
    width: 110px;
}

.kotak:hover{
    background-color: #323946;
    width: 120px;
    color: #0ef;
}


