.tbl{
    background-color:blue;
    border-radius: 30px;
    border: none;
    color: white;
    width: 10rem;
    justify-content: center;
    margin-left: 60rem;
}

.text-center .btn{
    color: white;
    font-size: 14px;
    width: 25px;
    align-items: center;
    margin-right: 40px;
}

.tbl:hover{
    background-color: rgb(12, 85, 12);
}

.judul{
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    font-weight: bold;
}

.alert{
    width: 50rem;
    color: red;
    font-weight: bolder;
}
